.form {
    display: flex;
    flex-direction: column;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 30px;
}

.btn {
    font-family: inherit;
    font-size: 40px;
    line-height: 1.5;
    width: fit-content;
    margin: 0 auto;
    background-color: hwb(240 55% 2%);
    color: #000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    cursor: pointer;

}